body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1896px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1910px;
  height:970px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1910px;
  height:970px;
}
#u1 {
  position:absolute;
  left:2px;
  top:477px;
  width:1906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:330px;
  top:22px;
  width:140px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:580px;
  top:22px;
  width:140px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:855px;
  top:22px;
  width:140px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:1105px;
  top:22px;
  width:140px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:1725px;
  top:20px;
  width:140px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:-14px;
  top:79px;
  width:274px;
  height:111px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:-14px;
  top:189px;
  width:274px;
  height:111px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:1090px;
  top:0px;
  width:200px;
  height:70px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
}
#u10 {
  position:absolute;
  left:2px;
  top:27px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
