body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1922px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1922px;
  height:1080px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1922px;
  height:1080px;
}
#u1 {
  position:absolute;
  left:2px;
  top:532px;
  width:1918px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:20px;
  width:320px;
  height:70px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:150px;
  top:20px;
  width:250px;
  height:75px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:75px;
}
#u5 {
  position:absolute;
  left:2px;
  top:30px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:160px;
  top:530px;
  width:120px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:1229px;
  top:593px;
  width:131px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:1225px;
  top:422px;
  width:565px;
  height:68px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:68px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:1225px;
  top:506px;
  width:565px;
  height:68px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:68px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
