body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-120px;
  top:-80px;
  width:2040px;
  height:1080px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2040px;
  height:1080px;
}
#u1 {
  position:absolute;
  left:2px;
  top:532px;
  width:2036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:167px;
  top:38px;
  width:1593px;
  height:892px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1593px;
  height:892px;
}
#u3 {
  position:absolute;
  left:2px;
  top:438px;
  width:1589px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:417px;
  top:98px;
  width:1093px;
  height:708px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:708px;
}
#u5 {
  position:absolute;
  left:2px;
  top:346px;
  width:1089px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:417px;
  top:98px;
  width:233px;
  height:708px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:718px;
}
#u7 {
  position:absolute;
  left:2px;
  top:346px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:417px;
  top:80px;
  width:253px;
  height:160px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:160px;
}
#u9 {
  position:absolute;
  left:2px;
  top:72px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:417px;
  top:366px;
  width:233px;
  height:88px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:88px;
}
#u11 {
  position:absolute;
  left:2px;
  top:36px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:620px;
  top:366px;
  width:30px;
  height:88px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:88px;
}
#u13 {
  position:absolute;
  left:2px;
  top:36px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:417px;
  top:454px;
  width:233px;
  height:88px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:88px;
}
#u15 {
  position:absolute;
  left:2px;
  top:36px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:620px;
  top:452px;
  width:30px;
  height:88px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:88px;
}
#u17 {
  position:absolute;
  left:2px;
  top:36px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:417px;
  top:192px;
  width:233px;
  height:88px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:88px;
}
#u19 {
  position:absolute;
  left:2px;
  top:36px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:444px;
  top:226px;
  width:148px;
  height:20px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:479px;
  top:400px;
  width:81px;
  height:20px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:620px;
  top:192px;
  width:30px;
  height:88px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:88px;
}
#u25 {
  position:absolute;
  left:2px;
  top:36px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:417px;
  top:540px;
  width:233px;
  height:88px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:88px;
}
#u27 {
  position:absolute;
  left:2px;
  top:36px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:480px;
  top:572px;
  width:79px;
  height:24px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:496px;
  top:486px;
  width:45px;
  height:20px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:417px;
  top:628px;
  width:233px;
  height:88px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:88px;
}
#u33 {
  position:absolute;
  left:2px;
  top:36px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:482px;
  top:662px;
  width:77px;
  height:20px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:620px;
  top:628px;
  width:30px;
  height:88px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:88px;
}
#u37 {
  position:absolute;
  left:2px;
  top:36px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:417px;
  top:716px;
  width:233px;
  height:88px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:88px;
}
#u39 {
  position:absolute;
  left:2px;
  top:36px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:488px;
  top:752px;
  width:66px;
  height:20px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:740px;
  top:192px;
  width:300px;
  height:264px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:274px;
}
#u43 {
  position:absolute;
  left:2px;
  top:246px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1110px;
  top:486px;
  width:300px;
  height:264px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:274px;
}
#u45 {
  position:absolute;
  left:2px;
  top:124px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:417px;
  top:280px;
  width:233px;
  height:88px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:88px;
}
#u47 {
  position:absolute;
  left:2px;
  top:36px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:478px;
  top:312px;
  width:72px;
  height:20px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:620px;
  top:278px;
  width:30px;
  height:88px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:88px;
}
#u51 {
  position:absolute;
  left:2px;
  top:36px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:620px;
  top:718px;
  width:30px;
  height:88px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:88px;
}
#u53 {
  position:absolute;
  left:2px;
  top:36px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1173px;
  top:610px;
  width:174px;
  height:28px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:28px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:750px;
  top:238px;
  width:280px;
  height:208px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:208px;
}
#u57 {
  position:absolute;
  left:2px;
  top:96px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:760px;
  top:258px;
  width:112px;
  height:28px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:28px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:760px;
  top:286px;
  width:172px;
  height:20px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:20px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:1110px;
  top:192px;
  width:300px;
  height:264px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:274px;
}
#u63 {
  position:absolute;
  left:2px;
  top:246px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1120px;
  top:238px;
  width:280px;
  height:208px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:208px;
}
#u65 {
  position:absolute;
  left:2px;
  top:96px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1130px;
  top:258px;
  width:98px;
  height:28px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:1130px;
  top:286px;
  width:172px;
  height:20px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:20px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:740px;
  top:486px;
  width:300px;
  height:264px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:274px;
}
#u71 {
  position:absolute;
  left:2px;
  top:246px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:750px;
  top:532px;
  width:280px;
  height:208px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:208px;
}
#u73 {
  position:absolute;
  left:2px;
  top:96px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:760px;
  top:552px;
  width:98px;
  height:28px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:760px;
  top:580px;
  width:172px;
  height:20px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:20px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:760px;
  top:324px;
  width:98px;
  height:22px;
  font-size:18px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:774px;
  top:356px;
  width:136px;
  height:22px;
  font-size:18px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:774px;
  top:378px;
  width:136px;
  height:22px;
  font-size:18px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:774px;
  top:400px;
  width:136px;
  height:22px;
  font-size:18px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:1141px;
  top:324px;
  width:98px;
  height:22px;
  font-size:18px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:1155px;
  top:356px;
  width:136px;
  height:22px;
  font-size:18px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:1155px;
  top:378px;
  width:136px;
  height:22px;
  font-size:18px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:760px;
  top:623px;
  width:98px;
  height:22px;
  font-size:18px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:774px;
  top:655px;
  width:136px;
  height:22px;
  font-size:18px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:774px;
  top:677px;
  width:136px;
  height:22px;
  font-size:18px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:774px;
  top:699px;
  width:136px;
  height:22px;
  font-size:18px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:960px;
  top:126px;
  width:110px;
  height:34px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:1076px;
  top:117px;
  width:24px;
  height:27px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
