body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1896px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1910px;
  height:970px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1910px;
  height:970px;
}
#u1 {
  position:absolute;
  left:2px;
  top:477px;
  width:1906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:330px;
  top:22px;
  width:140px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:580px;
  top:22px;
  width:140px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:855px;
  top:22px;
  width:140px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:1105px;
  top:22px;
  width:140px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:1725px;
  top:20px;
  width:140px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:-14px;
  top:79px;
  width:274px;
  height:111px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:-14px;
  top:189px;
  width:274px;
  height:111px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:900px;
  top:130px;
  width:280px;
  height:100px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:100px;
}
#u10 {
  position:absolute;
  left:2px;
  top:42px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:330px;
  top:210px;
  width:1490px;
  height:590px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1490px;
  height:590px;
}
#u12 {
  position:absolute;
  left:2px;
  top:287px;
  width:1486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1594px;
  top:210px;
  width:226px;
  height:590px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:590px;
}
#u14 {
  position:absolute;
  left:2px;
  top:287px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:867px;
  top:130px;
  width:262px;
  height:37px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:37px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:640px;
  top:800px;
  width:1180px;
  height:70px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:70px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:330px;
  top:800px;
  width:310px;
  height:70px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:70px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u19 {
  position:absolute;
  left:1090px;
  top:0px;
  width:200px;
  height:70px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
}
#u20 {
  position:absolute;
  left:2px;
  top:27px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1100px;
  top:10px;
  width:200px;
  height:70px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
}
#u22 {
  position:absolute;
  left:2px;
  top:27px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
