body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:2040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2040px;
  height:1080px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2040px;
  height:1080px;
}
#u1 {
  position:absolute;
  left:2px;
  top:532px;
  width:2036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:167px;
  top:38px;
  width:1593px;
  height:892px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1593px;
  height:892px;
}
#u3 {
  position:absolute;
  left:2px;
  top:438px;
  width:1589px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:417px;
  top:98px;
  width:1093px;
  height:708px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:708px;
}
#u5 {
  position:absolute;
  left:2px;
  top:346px;
  width:1089px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:417px;
  top:98px;
  width:233px;
  height:708px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:718px;
}
#u7 {
  position:absolute;
  left:2px;
  top:346px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:417px;
  top:80px;
  width:253px;
  height:160px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:160px;
}
#u9 {
  position:absolute;
  left:2px;
  top:72px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:417px;
  top:630px;
  width:233px;
  height:88px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:88px;
}
#u11 {
  position:absolute;
  left:2px;
  top:36px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:482px;
  top:668px;
  width:77px;
  height:20px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:417px;
  top:542px;
  width:233px;
  height:88px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:88px;
}
#u15 {
  position:absolute;
  left:2px;
  top:36px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:620px;
  top:542px;
  width:30px;
  height:88px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:88px;
}
#u17 {
  position:absolute;
  left:2px;
  top:36px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:479px;
  top:576px;
  width:79px;
  height:20px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:417px;
  top:368px;
  width:233px;
  height:88px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:88px;
}
#u21 {
  position:absolute;
  left:2px;
  top:36px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:620px;
  top:368px;
  width:30px;
  height:88px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:88px;
}
#u23 {
  position:absolute;
  left:2px;
  top:36px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:417px;
  top:454px;
  width:233px;
  height:88px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:88px;
}
#u25 {
  position:absolute;
  left:2px;
  top:36px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:620px;
  top:454px;
  width:30px;
  height:88px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:88px;
}
#u27 {
  position:absolute;
  left:2px;
  top:36px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:417px;
  top:194px;
  width:233px;
  height:88px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:88px;
}
#u29 {
  position:absolute;
  left:2px;
  top:36px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:444px;
  top:228px;
  width:148px;
  height:20px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:479px;
  top:402px;
  width:81px;
  height:20px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:620px;
  top:194px;
  width:30px;
  height:88px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:88px;
}
#u35 {
  position:absolute;
  left:2px;
  top:36px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:496px;
  top:488px;
  width:45px;
  height:20px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:417px;
  top:718px;
  width:233px;
  height:88px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:88px;
}
#u39 {
  position:absolute;
  left:2px;
  top:36px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:488px;
  top:754px;
  width:66px;
  height:20px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:417px;
  top:282px;
  width:233px;
  height:88px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:88px;
}
#u43 {
  position:absolute;
  left:2px;
  top:36px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:478px;
  top:314px;
  width:72px;
  height:20px;
  font-family:'Aharoni Bold', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:620px;
  top:280px;
  width:30px;
  height:88px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:88px;
}
#u47 {
  position:absolute;
  left:2px;
  top:36px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:620px;
  top:718px;
  width:30px;
  height:88px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:88px;
}
#u49 {
  position:absolute;
  left:2px;
  top:36px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:710px;
  top:120px;
  width:760px;
  height:660px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:670px;
}
#u51 {
  position:absolute;
  left:2px;
  top:322px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1085px;
  top:173px;
  width:165px;
  height:37px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:37px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:1085px;
  top:220px;
  width:196px;
  height:37px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:37px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:1085px;
  top:267px;
  width:166px;
  height:37px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:37px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:810px;
  top:173px;
  width:160px;
  height:147px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:147px;
}
#u59 {
  position:absolute;
  left:2px;
  top:66px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:1085px;
  top:323px;
  width:99px;
  height:37px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:741px;
  top:434px;
  width:129px;
  height:37px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:741px;
  top:568px;
  width:114px;
  height:37px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
